.add_folder_button {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.add_note_btn {
    font-size: 13px;
}

.newNoteBtn span {
    display: none;
}

.newNoteBtn {
    padding: 8px;
    justify-content: center;
}