.sidenav {
    background: black;
    height: 100vh;
    width: 60px;
    top: 0;
    overflow: hidden;
    z-index: auto;
    left: 0;
    padding-top: 60px;
    transition: width 0.3s ease;
}   

.open {
    width: 150px;
}

.navItems{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}